# Ignore everything
Backup/
Cache/
Index/
Installed Packages/
Local/
Packages/*

# user 文件夹
!Packages/User
Packages/User/Package Control.last-run
Packages/User/Package Control.ca-list
Packages/User/Package Control.ca-bundle
Packages/User/Package Control.system-ca-bundle
Packages/User/Package Control.cache/
Packages/User/Package Control.ca-certs/

# 自定义过的软件包
!Packages/JavaScript
!Packages/Vuejs Snippets

# Don't ignore
!.gitignore
