# Ignore everything
Backup/
Cache/
Index/
Installed Packages/
Local/
Packages/*
KEEPME

# user 文件夹
!Packages/User
Packages/User/Package Control.*
!Packages/User/Package Control.sublime-settings
Packages/User/*ca-bundle
Packages/User/*.crt

# 自定义过的软件包
!Packages/JavaScript
!Packages/Vuejs Snippets

# Don't ignore
!.gitignore
